
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.001rem;
}.done-sCp {
  box-sizing: border-box;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .frame-81-Ahi {
    margin: 0rem 9rem 2.504rem 3rem;
    width: calc(100% - 12.0006rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vector-HXS {
      flex-shrink: 0;
      margin-right: 5.3rem;
      width: 1.8rem;
      height: 1.4189rem;
      object-fit: contain;
      vertical-align: top;
    }
    .buesa-polls-2024-1iL {
      margin-top: 0.1654rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 0.5;
      align-items: baseline;

      .buesa-polls-2024-1iL-sub-0 {
      }
      .buesa-polls-2024-1iL-sub-1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
  }
  .line-1-TCx {
    width: 100%;
    height: 0.1rem;
    background-color: #838282;
    flex-shrink: 0;
  }
  .auto-group-wouv-QP6 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10.477rem 7.701rem 19.1rem 7.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-stnx-L1r {
      padding: 4rem 3.1rem 4rem 3.3rem;
      width: calc(100% - 4.4rem);
      background-color: #00b64c;
      border-radius: 8rem;
      flex-shrink: 0;
      margin: 0rem 2.3rem 3.5rem 2.1rem;
      box-sizing: border-box;

      .vector-qjJ {
        width: 9.6rem;
        height: 8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .successful-aB6 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.1rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 0.3125;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .thanks-for-voting-Jct {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.2rem 19.3rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 0.625;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .see-poll-results-ctU {
      margin-right: 0.8rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #285ee9;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 0.625;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
