
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.001rem;
}.sub-main-voting-link-ticked-mMn {
  box-sizing: border-box;
  padding-top: 2.5874rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  .frame-81-TP2 {
    margin: 0rem 9rem 2.606rem 3rem;
    width: calc(100% - 12.0006rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vector-B64 {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.3rem;
      width: 1.8rem;
      height: 1.4189rem;
    }
    .buesa-polls-2024-SXn {
      margin-top: 0.1654rem;
      line-height: 0.5;
      white-space: nowrap;
      display: flex;
      font-size: 2rem;
      font-weight: 600;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      align-items: baseline;
      flex-shrink: 0;

      .buesa-polls-2024-SXn-sub-0 {
      }
      .buesa-polls-2024-SXn-sub-1 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.5;
      }
    }
  }
  .line-1-GBN {
    width: 100%;
    height: 0.1rem;
    background-color: #838282;
    flex-shrink: 0;
  }
  .auto-group-fufa-Y8t {
    padding: 3.387rem 2.701rem 7.6rem 2.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-70-Avx {
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;

      .presidential-candidates-fMv {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-67-v2x {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;

        .frame-66-bun {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-LMa {
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
          }
          .frame-64-qZE {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);

            .frame-39-pZa {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-4ip {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
              }
              .akinteye-zcU {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
              }
            }
            .frame-63-8Tn {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
      }
      .frame-44-DVE {
        box-sizing: border-box;
        padding: 1rem;
        flex-shrink: 0;
        width: 100%;
        height: 10rem;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;

        .frame-42-wg8 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-hfJ {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-41-F4Y {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-asW {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.5rem;

              .joseph-wTA {
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .babatunde-41z {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
              }
            }
            .ellipse-23-zAY {
              width: 3rem;
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .frame-69-4AQ {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;

      .vice-presidential-candidates-bRE {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-44-hz4 {
        width: 100%;
        position: relative;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;
        height: 10rem;
        overflow: hidden;
        border: solid 0.1rem #000000;

        .frame-42-2mS {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-zTN {
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
          }
          .frame-41-LGL {
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;

            .frame-39-UtL {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-2Q4 {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
              }
              .akinteye-y4Q {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .ellipse-23-iGt {
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
      }
      .frame-68-op8 {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-66-ZHW {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-7Zv {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-64-3yN {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-bzt {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-jrC {
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
              }
              .babatunde-gWY {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-63-RDE {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .frame-71-8NY {
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;

      .general-secretary-candidates-sb2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-67-1SL {
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;

        .frame-66-9He {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .vector-JgL {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
          }
          .frame-64-Fba {
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;

            .frame-39-Cmi {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-ATe {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
              }
              .akinteye-hTa {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
              }
            }
            .frame-63-EyJ {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-44-Yj6 {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 10rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;

        .frame-42-hM6 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-FdW {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .frame-41-QFW {
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;

            .frame-39-kKN {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-JLt {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
              .babatunde-pKE {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .ellipse-23-Mpx {
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }
    .frame-72-4Da {
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .asst-general-secretary-candidates-QHS {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-44-Xsr {
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        height: 10rem;
        overflow: hidden;

        .frame-42-4Mz {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .vector-2Jp {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-41-a5S {
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;

            .frame-39-jDE {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-tbv {
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
              }
              .akinteye-cXv {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .ellipse-23-xLt {
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
      .frame-68-Fat {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-66-D1v {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-Ahr {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
          }
          .frame-64-7NC {
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;

            .frame-39-42Y {
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .joseph-R7z {
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .babatunde-MXS {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-63-hLQ {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .frame-73-1rt {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;

      .financial-secretary-candidates-kpU {
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .frame-67-6dS {
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-66-e9A {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-1VW {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-64-M3a {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-grY {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-qjS {
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .akinteye-awv {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
              }
            }
            .frame-63-jK2 {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-44-fCg {
        position: relative;
        border: solid 0.1rem #000000;
        height: 10rem;
        overflow: hidden;
        width: 100%;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;

        .frame-42-DEC {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-mFi {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
          }
          .frame-41-6on {
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;

            .frame-39-qmN {
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .joseph-zuA {
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .babatunde-Li8 {
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
            .ellipse-23-tDr {
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
            }
          }
        }
      }
    }
    .frame-74-Nep {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;

      .treasurer-candidates-Ka4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-44-4Gk {
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        height: 10rem;

        .frame-42-zgC {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .vector-ZUQ {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-41-uoA {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);

            .frame-39-fXS {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-2ct {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
              }
              .akinteye-9Bi {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .ellipse-23-gBe {
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
            }
          }
        }
      }
      .frame-68-ZmE {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-66-KEc {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .vector-g5A {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-64-1t8 {
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;

            .frame-39-Zek {
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .joseph-vVJ {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
              }
              .babatunde-4Lc {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-63-bbS {
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .frame-75-7Jt {
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;

      .welfare-secretary-candidates-3yE {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
      }
      .frame-67-PnC {
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;

        .frame-66-LSY {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .vector-uEk {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-64-qeC {
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;

            .frame-39-Pfi {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;

              .joseph-9un {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
              }
              .akinteye-J1z {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
              }
            }
            .frame-63-qnc {
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
            }
          }
        }
      }
      .frame-44-Apt {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        height: 10rem;
        overflow: hidden;
        position: relative;

        .frame-42-XfS {
          align-items: center;
          width: 100%;
          height: 100%;
          display: flex;

          .vector-6Te {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
          }
          .frame-41-F5e {
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;

            .frame-39-QDS {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;

              .joseph-xVr {
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .babatunde-hTS {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .ellipse-23-eNg {
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
      }
    }
    .frame-76-YU4 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;

      .pr-officer-candidates-5Tz {
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .frame-44-PDn {
        padding: 1rem 1.5rem 1rem 1rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;

        .frame-42-hEU {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-Shr {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-41-ap4 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);

            .frame-39-8qa {
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .joseph-5kp {
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
              }
              .akinteye-owi {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .ellipse-23-9kg {
              width: 3rem;
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-68-q7i {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-66-BhN {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .vector-wgY {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-64-h9v {
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;

            .frame-39-T96 {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;
              display: flex;

              .joseph-cXn {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
              }
              .babatunde-xLk {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-63-6hr {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
      }
    }
    .frame-77-QyS {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;

      .social-director-candidates-mJC {
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .frame-67-77A {
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-66-e76 {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .vector-oVn {
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .frame-64-9pY {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-WQC {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;
              display: flex;

              .joseph-U68 {
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
              }
              .akinteye-cTE {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
              }
            }
            .frame-63-Z7a {
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
            }
          }
        }
      }
      .frame-44-Tye {
        padding: 1rem;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        position: relative;

        .frame-42-Qtt {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-yh6 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
          }
          .frame-41-XCp {
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;

            .frame-39-Udr {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-S4t {
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .babatunde-BHN {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .ellipse-23-XME {
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              border: solid 0.06rem #000000;
            }
          }
        }
      }
    }
    .frame-78-p5S {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;

      .technology-secretary-candidates-Yn8 {
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .frame-44-Gy2 {
        position: relative;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        height: 10rem;
        overflow: hidden;
        padding: 1rem 1.5rem 1rem 1rem;

        .frame-42-QZS {
          align-items: center;
          width: 100%;
          height: 100%;
          display: flex;

          .vector-met {
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .frame-41-KRW {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);

            .frame-39-GrY {
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .joseph-E2g {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
              }
              .akinteye-xUU {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .ellipse-23-JHS {
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
      }
      .frame-68-zg4 {
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 10rem;

        .frame-66-93A {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .vector-uHE {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-64-FM6 {
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 2.15rem 0;

            .frame-39-CXE {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-MQ8 {
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
              }
              .babatunde-6Mi {
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
            .frame-63-3Gx {
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .frame-79-YzQ {
      margin-bottom: 3.4rem;
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .asst-tech-secretary-candidates-Vue {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-67-S4C {
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-66-BGg {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-L9a {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-64-gUL {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-EEx {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;

              .joseph-Bvt {
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .akinteye-w9N {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
              }
            }
            .frame-63-Uuz {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-44-1Q8 {
        height: 10rem;
        overflow: hidden;
        padding: 1rem;
        width: 100%;
        position: relative;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-42-m8Q {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-iJY {
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .frame-41-G5A {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-QhA {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 8.5rem;
              height: 100%;

              .joseph-yEU {
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .babatunde-X16 {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
              }
            }
            .ellipse-23-UBE {
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }
    .frame-80-mg8 {
      margin-bottom: 2.8rem;
      width: 100%;
      row-gap: 1.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .sports-director-candidates-iLU {
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .frame-44-3de {
        box-sizing: border-box;
        padding: 1rem 1.5rem 1rem 1rem;
        height: 10rem;
        position: relative;
        border: solid 0.1rem #000000;
        width: 100%;
        overflow: hidden;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .frame-42-n5S {
          align-items: center;
          width: 100%;
          height: 100%;
          display: flex;

          .vector-5qE {
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-41-2Eg {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-NJY {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-j96 {
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
              }
              .akinteye-g4L {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .ellipse-23-Qm2 {
              height: 3rem;
              border: solid 0.06rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
      }
      .frame-68-WJG {
        padding: 1rem;
        width: 100%;
        height: 10rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-66-TzC {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .vector-EEG {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
          }
          .frame-64-yhe {
            margin: 2.15rem 0;
            height: calc(100% - 4.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-39-vMz {
              margin-right: 8.5rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .joseph-5Vn {
                font-weight: 600;
                line-height: 0.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.7rem;
                font-size: 2rem;
              }
              .babatunde-RJk {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 0.7142857143;
              }
            }
            .frame-63-MiC {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
      }
    }
    .frame-61-UH2 {
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      height: 4.6rem;
      white-space: nowrap;
      display: flex;
      background-color: #ff0000;
      border-radius: 0.8rem;
      width: calc(100% - 2.9rem);
      line-height: 0.5;
      color: #ffffff;
      font-weight: 600;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 1.5rem 0rem 1.4rem;
      cursor: pointer;
      font-size: 2rem;
    }
  }
}
