
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.001rem;
}.voting-tracker-KfJ {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 2.6rem;

  .frame-81-12L {
    margin: 0rem 9rem 2.628rem 3rem;
    width: calc(100% - 12.0006rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vector-vQC {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.3rem;
      width: 1.8rem;
      height: 1.4189rem;
      cursor: pointer;
    }
    .buesa-polls-2024-3Up {
      color: #000000;
      white-space: nowrap;
      align-items: baseline;
      line-height: 0.5;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      margin-top: 0.1654rem;
      font-size: 2rem;
      font-weight: 600;

      .buesa-polls-2024-3Up-sub-0 {
      }
      .buesa-polls-2024-3Up-sub-1 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.5;
      }
    }
  }
  .line-1-YyJ {
    background-color: #838282;
    flex-shrink: 0;
    margin-bottom: 1.1371rem;
    width: 100%;
    height: 0.1rem;
  }
  .votes-casted-1000-gpc {
    flex-shrink: 0;
    margin-left: 0.0994rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 0.625;
    color: #00c853;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-jrig-DJk {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.816rem 3.051rem 11.4rem 3.15rem;
    width: 100%;
    row-gap: 3.4rem;

    .frame-95-WYk {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 0.05rem;
      width: calc(100% - 0.1rem);
      overflow: hidden;
      row-gap: 2.4rem;
      align-items: center;
      position: relative;

      .presidential-candidates-SBW {
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .frame-91-kxt {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;
        flex-shrink: 0;

        .frame-90-WBN {
          flex-shrink: 0;
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;

          .vector-E7N {
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
          }
          .frame-89-NUU {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-dxql-i2Y {
              line-height: 1.5;
              display: flex;
              flex-shrink: 0;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 700;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              margin-right: 1rem;
              width: 14rem;
            }
            .votes-Qg4 {
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
            }
          }
        }
        .frame-94-YGU {
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 25.9rem;

          .rectangle-44-6Hz {
            height: 3.3rem;
            background-color: #2f51ff;
            width: 20.2rem;
          }
        }
      }
      .frame-92-y6t {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0.4rem;
        flex-shrink: 0;
        box-sizing: border-box;
        border: solid 0.1rem #000000;
        align-items: center;

        .frame-90-X8Q {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;

          .vector-4u2 {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-DG8 {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-72f6-Mt8 {
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              line-height: 1.5;
              font-family: Montserrat, 'Source Sans Pro';
              font-weight: 700;
              color: #000000;
              display: flex;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 15.8rem;
              height: 100%;
            }
            .votes-s5n {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-93-oEL {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-Aag {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-96-fGY {
      width: calc(100% - 0.1rem);
      overflow: hidden;
      position: relative;
      row-gap: 2.4rem;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 0.05rem;
      display: flex;

      .vice-presidential-candidates-BVn {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-91-7PS {
        flex-shrink: 0;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        display: flex;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;
        box-sizing: border-box;
        width: 100%;

        .frame-90-3nt {
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);

          .vector-aH2 {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-83e {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-mfi4-UdJ {
              height: 100%;
              font-size: 1.6rem;
              line-height: 1.5;
              align-items: center;
              justify-content: center;
              margin-right: 1rem;
              width: 14rem;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              font-weight: 700;
              color: #000000;
            }
            .votes-PkG {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
            }
          }
        }
        .frame-94-8Sx {
          margin-right: 1.8rem;
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;

          .rectangle-44-gUU {
            height: 3.3rem;
            background-color: #2f51ff;
            width: 20.2rem;
          }
        }
      }
      .frame-92-mkp {
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 0.4rem;
        box-sizing: border-box;
        padding: 1rem;

        .frame-90-XEC {
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;

          .vector-5Fi {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-RKa {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-rkdi-y6C {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              flex-shrink: 0;
              width: 15.8rem;
              font-weight: 700;
              color: #000000;
              line-height: 1.5;
              display: flex;
              justify-content: center;
              margin-right: 1rem;
              height: 100%;
              font-size: 1.6rem;
            }
            .votes-shN {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
        }
        .frame-93-QhJ {
          flex-shrink: 0;
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);

          .rectangle-46-BCG {
            background-color: #ff862f;
            width: 5.7rem;
            height: 3.3rem;
          }
        }
      }
    }
    .frame-97-GjW {
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      margin: 0 0.05rem;
      width: calc(100% - 0.1rem);
      position: relative;
      row-gap: 2.4rem;
      display: flex;
      flex-shrink: 0;

      .general-secretary-candidates-1SC {
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .frame-91-92c {
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        border-radius: 0.4rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        align-items: center;

        .frame-90-6Te {
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-dTa {
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
          }
          .frame-89-ynL {
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;

            .auto-group-rbpp-vSg {
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              color: #000000;
              width: 14rem;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              margin-right: 1rem;
            }
            .votes-RuE {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
            }
          }
        }
        .frame-94-Mnt {
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);

          .rectangle-44-HgY {
            background-color: #2f51ff;
            width: 20.2rem;
            height: 3.3rem;
          }
        }
      }
      .frame-92-Bmv {
        display: flex;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        align-items: center;
        flex-direction: column;
        border-radius: 0.4rem;
        flex-shrink: 0;

        .frame-90-wFJ {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;

          .vector-HKA {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
          }
          .frame-89-ppt {
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;

            .auto-group-hfjz-BQY {
              height: 100%;
              font-size: 1.6rem;
              font-weight: 700;
              color: #000000;
              white-space: nowrap;
              display: flex;
              margin-right: 1rem;
              width: 15.8rem;
              line-height: 1.5;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
            }
            .votes-VRE {
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
            }
          }
        }
        .frame-93-SLU {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-cEx {
            height: 3.3rem;
            background-color: #ff862f;
            width: 5.7rem;
          }
        }
      }
    }
    .frame-98-iHz {
      flex-shrink: 0;
      width: calc(100% - 0.1rem);
      row-gap: 2.4rem;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 0.05rem;
      overflow: hidden;

      .asst-general-secretary-candidates-Szg {
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .frame-91-mn4 {
        border-radius: 0.4rem;
        flex-shrink: 0;
        padding: 1rem;
        width: 100%;
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .frame-90-vex {
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-T96 {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-CcU {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);

            .auto-group-dva8-wpx {
              font-weight: 700;
              line-height: 1.5;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              justify-content: center;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 14rem;
              height: 100%;
              font-size: 1.6rem;
              color: #000000;
              align-items: center;
            }
            .votes-THW {
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
        .frame-94-CF6 {
          margin-right: 1.8rem;
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;

          .rectangle-44-Ypk {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-rqS {
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        display: flex;
        border-radius: 0.4rem;

        .frame-90-pGU {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;

          .vector-NHz {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
          }
          .frame-89-Wf6 {
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;

            .auto-group-wzvg-fH6 {
              margin-right: 1rem;
              height: 100%;
              font-weight: 700;
              line-height: 1.5;
              justify-content: center;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 15.8rem;
              font-size: 1.6rem;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .votes-AzY {
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
            }
          }
        }
        .frame-93-vD2 {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-ghz {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-99-PMW {
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      row-gap: 2.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .financial-secretary-candidates-wP2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .frame-91-UNx {
        box-sizing: border-box;
        padding: 1rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;

        .frame-90-qDW {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.9rem 1rem 0rem;
          width: calc(100% - 1.9rem);
          height: 3rem;

          .vector-ZQQ {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
          }
          .frame-89-uDN {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-qf5v-Syz {
              font-weight: 700;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              display: flex;
              align-items: center;
              margin-right: 1rem;
              width: 14rem;
              height: 100%;
              font-size: 1.6rem;
              line-height: 1.5;
              white-space: nowrap;
              justify-content: center;
              flex-shrink: 0;
            }
            .votes-NMr {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-94-iAp {
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;
          margin-right: 1.9rem;

          .rectangle-44-4Va {
            height: 3.3rem;
            background-color: #2f51ff;
            width: 20.2rem;
          }
        }
      }
      .frame-92-y6k {
        margin: 0 0.05rem;
        box-sizing: border-box;
        width: calc(100% - 0.1rem);
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;
        flex-shrink: 0;
        padding: 1rem;
        align-items: center;

        .frame-90-7Cx {
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;

          .vector-Fa4 {
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .frame-89-znY {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-tjfz-9QY {
              font-size: 1.6rem;
              color: #000000;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              justify-content: center;
              margin-right: 1rem;
              width: 15.8rem;
              height: 100%;
              font-weight: 700;
              line-height: 1.5;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
            }
            .votes-FyN {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
            }
          }
        }
        .frame-93-zRA {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-9Yx {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-100-T3r {
      row-gap: 2.4rem;
      align-items: center;
      position: relative;
      width: calc(100% - 0.1rem);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 0.05rem;

      .treasurer-candidates-z3n {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
      }
      .frame-91-ikU {
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;
        flex-shrink: 0;
        padding: 1rem;
        width: 100%;
        display: flex;
        box-sizing: border-box;

        .frame-90-sdN {
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-oG8 {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-jvU {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-jbnt-toN {
              white-space: nowrap;
              display: flex;
              justify-content: center;
              line-height: 1.5;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              align-items: center;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 14rem;
              height: 100%;
            }
            .votes-aw6 {
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
        .frame-94-Kdn {
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;
          margin-right: 1.8rem;

          .rectangle-44-Gov {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-Nrx {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        display: flex;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        align-items: center;
        flex-direction: column;
        border-radius: 0.4rem;

        .frame-90-w9N {
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;

          .vector-5WU {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
          }
          .frame-89-pix {
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;

            .auto-group-2rzp-meC {
              line-height: 1.5;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              display: flex;
              align-items: center;
              margin-right: 1rem;
              height: 100%;
              font-weight: 700;
              flex-shrink: 0;
              justify-content: center;
              width: 15.8rem;
              font-size: 1.6rem;
              white-space: nowrap;
            }
            .votes-V4Q {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
        }
        .frame-93-EGt {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-Pfa {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-101-J1r {
      margin: 0 0.05rem;
      position: relative;
      align-items: center;
      display: flex;
      width: calc(100% - 0.1rem);
      overflow: hidden;
      row-gap: 2.4rem;
      flex-direction: column;
      flex-shrink: 0;

      .welfare-secretary-candidates-2iY {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-91-ZyN {
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-shrink: 0;

        .frame-90-irG {
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-3tY {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-PxQ {
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;

            .auto-group-ejrp-wyv {
              font-family: Montserrat, 'Source Sans Pro';
              display: flex;
              width: 14rem;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              color: #000000;
              align-items: center;
              margin-right: 1rem;
              white-space: nowrap;
              justify-content: center;
              flex-shrink: 0;
            }
            .votes-ff2 {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
            }
          }
        }
        .frame-94-1it {
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;
          margin-right: 1.8rem;

          .rectangle-44-mi4 {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-UsN {
        padding: 1rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;

        .frame-90-ELk {
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-BWt {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
          .frame-89-7fS {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-kzdr-fgx {
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              display: flex;
              flex-shrink: 0;
              width: 15.8rem;
              height: 100%;
              font-weight: 700;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              margin-right: 1rem;
              font-size: 1.6rem;
              line-height: 1.5;
            }
            .votes-aZ2 {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-93-XDN {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-tZi {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-102-Q2G {
      overflow: hidden;
      position: relative;
      row-gap: 2.4rem;
      align-items: center;
      display: flex;
      width: calc(100% - 0.1rem);
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 0.05rem;

      .pr-officer-candidates-8yr {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .frame-91-GqA {
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding: 1rem;
        align-items: center;
        display: flex;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;

        .frame-90-SDr {
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-BBS {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-iSG {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);

            .auto-group-tptn-Tek {
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              width: 14rem;
              height: 100%;
              font-weight: 700;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .votes-BKr {
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
        .frame-94-8F6 {
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 25.9rem;

          .rectangle-44-siU {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-PRv {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;

        .frame-90-wyE {
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-VE4 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
          }
          .frame-89-SQC {
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;

            .auto-group-kjnx-PqE {
              width: 15.8rem;
              font-weight: 700;
              line-height: 1.5;
              color: #000000;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              margin-right: 1rem;
              height: 100%;
              font-size: 1.6rem;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
            }
            .votes-JSQ {
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
            }
          }
        }
        .frame-93-dzU {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-D3a {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-103-uBJ {
      margin: 0 0.05rem;
      overflow: hidden;
      display: flex;
      flex-shrink: 0;
      width: calc(100% - 0.1rem);
      position: relative;
      row-gap: 2.4rem;
      align-items: center;
      flex-direction: column;

      .social-director-candidates-qak {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
      }
      .frame-91-B8p {
        padding: 1rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;

        .frame-90-QnG {
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-YNg {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-HLG {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-v9un-EWQ {
              margin-right: 1rem;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              width: 14rem;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              color: #000000;
              display: flex;
              justify-content: center;
              flex-shrink: 0;
            }
            .votes-jxx {
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
        .frame-94-UQk {
          margin-right: 1.8rem;
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;

          .rectangle-44-cfN {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-iTW {
        border-radius: 0.4rem;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;

        .frame-90-Gjv {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;

          .vector-DfA {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-xck {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);

            .auto-group-6sng-haL {
              width: 15.8rem;
              font-weight: 700;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 1rem;
              height: 100%;
              font-size: 1.6rem;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .votes-cxC {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-93-y24 {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-8fe {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-104-ETn {
      overflow: hidden;
      position: relative;
      align-items: center;
      flex-direction: column;
      margin: 0 0.05rem;
      width: calc(100% - 0.1rem);
      row-gap: 2.4rem;
      display: flex;
      flex-shrink: 0;

      .technology-secretary-candidates-xeg {
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
      }
      .frame-91-JCk {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 0.4rem;
        flex-shrink: 0;

        .frame-90-TLY {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;

          .vector-BnL {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-XbJ {
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;

            .auto-group-z5ak-UFe {
              justify-content: center;
              margin-right: 1rem;
              font-size: 1.6rem;
              color: #000000;
              align-items: center;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              width: 14rem;
              height: 100%;
              font-weight: 700;
              line-height: 1.5;
            }
            .votes-BQx {
              line-height: 1.4285714286;
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
            }
          }
        }
        .frame-94-ifn {
          margin-right: 1.8rem;
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;

          .rectangle-44-g6p {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-C5A {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        align-items: center;
        border-radius: 0.4rem;

        .frame-90-xKE {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;

          .vector-6wE {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
          .frame-89-eSx {
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;

            .auto-group-28ui-o4x {
              margin-right: 1rem;
              width: 15.8rem;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              color: #000000;
              display: flex;
              justify-content: center;
              flex-shrink: 0;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
            }
            .votes-Hkp {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-93-ERA {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-zv8 {
            width: 5.7rem;
            height: 3.3rem;
            background-color: #ff862f;
          }
        }
      }
    }
    .frame-105-hZe {
      flex-direction: column;
      flex-shrink: 0;
      position: relative;
      align-items: center;
      display: flex;
      row-gap: 2.4rem;
      margin: 0 0.05rem;
      width: calc(100% - 0.1rem);
      overflow: hidden;

      .asst-tech-secretary-candidates-RVe {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-91-kXv {
        border-radius: 0.4rem;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        align-items: center;
        flex-shrink: 0;

        .frame-90-77a {
          width: calc(100% - 1.8rem);
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.8rem 1rem 0rem;

          .vector-qJU {
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
          }
          .frame-89-yvU {
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;

            .auto-group-3arq-jPr {
              width: 14rem;
              height: 100%;
              font-size: 1.6rem;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              margin-right: 1rem;
              font-weight: 700;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
            }
            .votes-3vL {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #2f51ff;
            }
          }
        }
        .frame-94-bS4 {
          margin-right: 1.8rem;
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;

          .rectangle-44-MRE {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-4aY {
        width: 100%;
        display: flex;
        border-radius: 0.4rem;
        flex-shrink: 0;
        padding: 1rem;
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #000000;
        box-sizing: border-box;

        .frame-90-RAC {
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-ZnC {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-7Yp {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);

            .auto-group-uefn-Tsa {
              justify-content: center;
              font-weight: 700;
              color: #000000;
              align-items: center;
              font-size: 1.6rem;
              line-height: 1.5;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              margin-right: 1rem;
              width: 15.8rem;
              height: 100%;
              flex-shrink: 0;
            }
            .votes-yqv {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .frame-93-XMe {
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;
          width: 100%;

          .rectangle-46-6Qk {
            background-color: #ff862f;
            width: 5.7rem;
            height: 3.3rem;
          }
        }
      }
    }
    .frame-106-noN {
      row-gap: 2.4rem;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 0.05rem;
      width: calc(100% - 0.1rem);
      overflow: hidden;
      position: relative;
      display: flex;

      .sports-director-candidates-L4C {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.625;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .frame-91-fMN {
        flex-direction: column;
        border: solid 0.1rem #000000;
        width: 100%;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 0.4rem;

        .frame-90-Aov {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.8rem 1rem 0rem;
          width: calc(100% - 1.8rem);
          height: 3rem;

          .vector-hJ4 {
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .frame-89-EYt {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-cuvi-moi {
              width: 14rem;
              line-height: 1.5;
              color: #000000;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 1rem;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 700;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
            }
            .votes-tdS {
              line-height: 1.4285714286;
              color: #2f51ff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
            }
          }
        }
        .frame-94-db2 {
          margin-right: 1.8rem;
          width: 25.9rem;
          background-color: rgba(131, 130, 130, 0.8000000119);
          flex-shrink: 0;

          .rectangle-44-P4Q {
            width: 20.2rem;
            height: 3.3rem;
            background-color: #2f51ff;
          }
        }
      }
      .frame-92-tWx {
        width: 100%;
        flex-direction: column;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        padding: 1rem;
        align-items: center;
        display: flex;
        border-radius: 0.4rem;
        box-sizing: border-box;

        .frame-90-SYU {
          margin-bottom: 1rem;
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-zK6 {
            margin-right: 0.8rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-89-L84 {
            margin: 0.3rem 0;
            height: calc(100% - 0.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-akcl-GnQ {
              height: 100%;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 15.8rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .votes-aYC {
              font-weight: 700;
              line-height: 1.4285714286;
              color: #ff862f;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
        }
        .frame-93-iPW {
          width: 100%;
          background-color: rgba(115, 115, 115, 0.8000000119);
          flex-shrink: 0;

          .rectangle-46-t36 {
            height: 3.3rem;
            background-color: #ff862f;
            width: 5.7rem;
          }
        }
      }
    }
  }
}
