
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.001rem;
}.welcome-pageget-otp-Y92 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 1.5rem;

  .frame-82-sBJ {
    margin: 0rem 0rem 1.504rem 2rem;
    box-sizing: border-box;
    padding: 1rem;
    width: 26rem;
    height: 3.4189rem;
    cursor: pointer;
    flex-shrink: 0;

    .frame-81-yk8 {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .vector-wS4 {
        margin-right: 5.3rem;
        width: 1.8rem;
        height: 1.4189rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .buesa-polls-2024-5YG {
        font-weight: 600;
        line-height: 0.5;
        font-family: Poppins, 'Source Sans Pro';
        align-items: baseline;
        flex-shrink: 0;
        margin-top: 0.1654rem;
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
        display: flex;

        .buesa-polls-2024-5YG-sub-0 {
        }
        .buesa-polls-2024-5YG-sub-1 {
          line-height: 0.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }
  .line-1-Gse {
    width: 100%;
    height: 0.1rem;
    background-color: #838282;
    flex-shrink: 0;
  }
  .auto-group-rsmn-pPN {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.877rem 4.501rem 37.5rem 5.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .buesa-logo-8ur {
      margin: 0rem 1rem 0.9rem 0rem;
      width: 12.9rem;
      height: 11.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-83-4Hi {
      margin: 0rem 4.6rem 3.4rem 3.4rem;
      width: calc(100% - 8rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .welcome-bHe {
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2222222222;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .to-2024-buesa-elections-jPr {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.4285714286;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        font-weight: 400;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';

        .to-2024-buesa-elections-jPr-sub-0 {
        }
        .to-2024-buesa-elections-jPr-sub-1 {
          font-weight: 800;
          line-height: 1.4285714286;
          color: #a70000;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.4rem;
        }
        .to-2024-buesa-elections-jPr-sub-2 {
        }
      }
    }
    .frame-84-J5a {
      flex-shrink: 0;
      margin-bottom: 1.9rem;
      box-sizing: border-box;
      padding: 0.3rem 11.6rem 0.3rem 1.1rem;
      display: flex;
      width: 100%;
      align-items: center;
      border: solid 0.1rem #000000;
      border-radius: 0.4rem;

      .tabler-numbers-DyE {
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .matric-number-kyA {
        color: #838282;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6666666667;
      }
    }
    .frame-88-fqE {
      text-align: center;
      line-height: 1.6666666667;
      justify-content: center;
      flex-shrink: 0;
      height: 4rem;
      cursor: pointer;
      font-weight: 700;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      font-size: 1.2rem;
      color: #ffffff;
      display: flex;
      background-color: #ea0000;
      border-radius: 3.4rem;
      margin: 0rem 8.3rem 0rem 7.2rem;
      width: calc(100% - 15.5rem);
    }
  }
}
