
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.001rem;
}.sub-main-voting-link-ticked-mMn {
  box-sizing: border-box;
  padding-top: 2.5874rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.sub-main-voting-link-ticked-mMn .frame-81-TP2 {
  margin: 0rem 9rem 2.606rem 3rem;
  width: calc(100% - 12.0006rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .frame-81-TP2 .vector-B64 {
  margin-right: 5.3rem;
  width: 1.8rem;
  height: 1.4189rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .frame-81-TP2 .buesa-polls-2024-SXn {
  margin-top: 0.1654rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .frame-81-TP2 .buesa-polls-2024-SXn .buesa-polls-2024-SXn-sub-0 {
}
.sub-main-voting-link-ticked-mMn .frame-81-TP2 .buesa-polls-2024-SXn .buesa-polls-2024-SXn-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.sub-main-voting-link-ticked-mMn .line-1-GBN {
  width: 100%;
  height: 0.1rem;
  background-color: #838282;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t {
  box-sizing: border-box;
  padding: 3.387rem 2.701rem 7.6rem 2.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .presidential-candidates-fMv {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x .frame-66-bun {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x .frame-66-bun .vector-LMa {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x .frame-66-bun .frame-64-qZE {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x .frame-66-bun .frame-64-qZE .frame-39-pZa {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x .frame-66-bun .frame-64-qZE .frame-39-pZa .joseph-4ip {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x .frame-66-bun .frame-64-qZE .frame-39-pZa .akinteye-zcU {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-67-v2x .frame-66-bun .frame-64-qZE .frame-63-8Tn {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE .frame-42-wg8 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE .frame-42-wg8 .vector-hfJ {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE .frame-42-wg8 .frame-41-F4Y {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE .frame-42-wg8 .frame-41-F4Y .frame-39-asW {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE .frame-42-wg8 .frame-41-F4Y .frame-39-asW .joseph-wTA {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE .frame-42-wg8 .frame-41-F4Y .frame-39-asW .babatunde-41z {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-70-Avx .frame-44-DVE .frame-42-wg8 .frame-41-F4Y .ellipse-23-zAY {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .vice-presidential-candidates-bRE {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 .frame-42-2mS {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 .frame-42-2mS .vector-zTN {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 .frame-42-2mS .frame-41-LGL {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 .frame-42-2mS .frame-41-LGL .frame-39-UtL {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 .frame-42-2mS .frame-41-LGL .frame-39-UtL .joseph-2Q4 {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 .frame-42-2mS .frame-41-LGL .frame-39-UtL .akinteye-y4Q {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-44-hz4 .frame-42-2mS .frame-41-LGL .ellipse-23-iGt {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 .frame-66-ZHW {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 .frame-66-ZHW .vector-7Zv {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 .frame-66-ZHW .frame-64-3yN {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 .frame-66-ZHW .frame-64-3yN .frame-39-bzt {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 .frame-66-ZHW .frame-64-3yN .frame-39-bzt .joseph-jrC {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 .frame-66-ZHW .frame-64-3yN .frame-39-bzt .babatunde-gWY {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-69-4AQ .frame-68-op8 .frame-66-ZHW .frame-64-3yN .frame-63-RDE {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .general-secretary-candidates-sb2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL .frame-66-9He {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL .frame-66-9He .vector-JgL {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL .frame-66-9He .frame-64-Fba {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL .frame-66-9He .frame-64-Fba .frame-39-Cmi {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL .frame-66-9He .frame-64-Fba .frame-39-Cmi .joseph-ATe {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL .frame-66-9He .frame-64-Fba .frame-39-Cmi .akinteye-hTa {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-67-1SL .frame-66-9He .frame-64-Fba .frame-63-EyJ {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 .frame-42-hM6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 .frame-42-hM6 .vector-FdW {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 .frame-42-hM6 .frame-41-QFW {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 .frame-42-hM6 .frame-41-QFW .frame-39-kKN {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 .frame-42-hM6 .frame-41-QFW .frame-39-kKN .joseph-JLt {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 .frame-42-hM6 .frame-41-QFW .frame-39-kKN .babatunde-pKE {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-71-8NY .frame-44-Yj6 .frame-42-hM6 .frame-41-QFW .ellipse-23-Mpx {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .asst-general-secretary-candidates-QHS {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr .frame-42-4Mz {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr .frame-42-4Mz .vector-2Jp {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr .frame-42-4Mz .frame-41-a5S {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr .frame-42-4Mz .frame-41-a5S .frame-39-jDE {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr .frame-42-4Mz .frame-41-a5S .frame-39-jDE .joseph-tbv {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr .frame-42-4Mz .frame-41-a5S .frame-39-jDE .akinteye-cXv {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-44-Xsr .frame-42-4Mz .frame-41-a5S .ellipse-23-xLt {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat .frame-66-D1v {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat .frame-66-D1v .vector-Ahr {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat .frame-66-D1v .frame-64-7NC {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat .frame-66-D1v .frame-64-7NC .frame-39-42Y {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat .frame-66-D1v .frame-64-7NC .frame-39-42Y .joseph-R7z {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat .frame-66-D1v .frame-64-7NC .frame-39-42Y .babatunde-MXS {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-72-4Da .frame-68-Fat .frame-66-D1v .frame-64-7NC .frame-63-hLQ {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .financial-secretary-candidates-kpU {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS .frame-66-e9A {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS .frame-66-e9A .vector-1VW {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS .frame-66-e9A .frame-64-M3a {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS .frame-66-e9A .frame-64-M3a .frame-39-grY {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS .frame-66-e9A .frame-64-M3a .frame-39-grY .joseph-qjS {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS .frame-66-e9A .frame-64-M3a .frame-39-grY .akinteye-awv {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-67-6dS .frame-66-e9A .frame-64-M3a .frame-63-jK2 {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg .frame-42-DEC {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg .frame-42-DEC .vector-mFi {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg .frame-42-DEC .frame-41-6on {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg .frame-42-DEC .frame-41-6on .frame-39-qmN {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg .frame-42-DEC .frame-41-6on .frame-39-qmN .joseph-zuA {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg .frame-42-DEC .frame-41-6on .frame-39-qmN .babatunde-Li8 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-73-1rt .frame-44-fCg .frame-42-DEC .frame-41-6on .ellipse-23-tDr {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .treasurer-candidates-Ka4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk .frame-42-zgC {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk .frame-42-zgC .vector-ZUQ {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk .frame-42-zgC .frame-41-uoA {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk .frame-42-zgC .frame-41-uoA .frame-39-fXS {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk .frame-42-zgC .frame-41-uoA .frame-39-fXS .joseph-2ct {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk .frame-42-zgC .frame-41-uoA .frame-39-fXS .akinteye-9Bi {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-44-4Gk .frame-42-zgC .frame-41-uoA .ellipse-23-gBe {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE .frame-66-KEc {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE .frame-66-KEc .vector-g5A {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE .frame-66-KEc .frame-64-1t8 {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE .frame-66-KEc .frame-64-1t8 .frame-39-Zek {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE .frame-66-KEc .frame-64-1t8 .frame-39-Zek .joseph-vVJ {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE .frame-66-KEc .frame-64-1t8 .frame-39-Zek .babatunde-4Lc {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-74-Nep .frame-68-ZmE .frame-66-KEc .frame-64-1t8 .frame-63-bbS {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .welfare-secretary-candidates-3yE {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC .frame-66-LSY {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC .frame-66-LSY .vector-uEk {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC .frame-66-LSY .frame-64-qeC {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC .frame-66-LSY .frame-64-qeC .frame-39-Pfi {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC .frame-66-LSY .frame-64-qeC .frame-39-Pfi .joseph-9un {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC .frame-66-LSY .frame-64-qeC .frame-39-Pfi .akinteye-J1z {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-67-PnC .frame-66-LSY .frame-64-qeC .frame-63-qnc {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt .frame-42-XfS {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt .frame-42-XfS .vector-6Te {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt .frame-42-XfS .frame-41-F5e {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt .frame-42-XfS .frame-41-F5e .frame-39-QDS {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt .frame-42-XfS .frame-41-F5e .frame-39-QDS .joseph-xVr {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt .frame-42-XfS .frame-41-F5e .frame-39-QDS .babatunde-hTS {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-75-7Jt .frame-44-Apt .frame-42-XfS .frame-41-F5e .ellipse-23-eNg {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .pr-officer-candidates-5Tz {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn .frame-42-hEU {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn .frame-42-hEU .vector-Shr {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn .frame-42-hEU .frame-41-ap4 {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn .frame-42-hEU .frame-41-ap4 .frame-39-8qa {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn .frame-42-hEU .frame-41-ap4 .frame-39-8qa .joseph-5kp {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn .frame-42-hEU .frame-41-ap4 .frame-39-8qa .akinteye-owi {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-44-PDn .frame-42-hEU .frame-41-ap4 .ellipse-23-9kg {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i .frame-66-BhN {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i .frame-66-BhN .vector-wgY {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i .frame-66-BhN .frame-64-h9v {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i .frame-66-BhN .frame-64-h9v .frame-39-T96 {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i .frame-66-BhN .frame-64-h9v .frame-39-T96 .joseph-cXn {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i .frame-66-BhN .frame-64-h9v .frame-39-T96 .babatunde-xLk {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-76-YU4 .frame-68-q7i .frame-66-BhN .frame-64-h9v .frame-63-6hr {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .social-director-candidates-mJC {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A .frame-66-e76 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A .frame-66-e76 .vector-oVn {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A .frame-66-e76 .frame-64-9pY {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A .frame-66-e76 .frame-64-9pY .frame-39-WQC {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A .frame-66-e76 .frame-64-9pY .frame-39-WQC .joseph-U68 {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A .frame-66-e76 .frame-64-9pY .frame-39-WQC .akinteye-cTE {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-67-77A .frame-66-e76 .frame-64-9pY .frame-63-Z7a {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye .frame-42-Qtt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye .frame-42-Qtt .vector-yh6 {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye .frame-42-Qtt .frame-41-XCp {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye .frame-42-Qtt .frame-41-XCp .frame-39-Udr {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye .frame-42-Qtt .frame-41-XCp .frame-39-Udr .joseph-S4t {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye .frame-42-Qtt .frame-41-XCp .frame-39-Udr .babatunde-BHN {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-77-QyS .frame-44-Tye .frame-42-Qtt .frame-41-XCp .ellipse-23-XME {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .technology-secretary-candidates-Yn8 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 .frame-42-QZS {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 .frame-42-QZS .vector-met {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 .frame-42-QZS .frame-41-KRW {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 .frame-42-QZS .frame-41-KRW .frame-39-GrY {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 .frame-42-QZS .frame-41-KRW .frame-39-GrY .joseph-E2g {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 .frame-42-QZS .frame-41-KRW .frame-39-GrY .akinteye-xUU {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-44-Gy2 .frame-42-QZS .frame-41-KRW .ellipse-23-JHS {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 .frame-66-93A {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 .frame-66-93A .vector-uHE {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 .frame-66-93A .frame-64-FM6 {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 .frame-66-93A .frame-64-FM6 .frame-39-CXE {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 .frame-66-93A .frame-64-FM6 .frame-39-CXE .joseph-MQ8 {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 .frame-66-93A .frame-64-FM6 .frame-39-CXE .babatunde-6Mi {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-78-p5S .frame-68-zg4 .frame-66-93A .frame-64-FM6 .frame-63-3Gx {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ {
  margin-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .asst-tech-secretary-candidates-Vue {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C .frame-66-BGg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C .frame-66-BGg .vector-L9a {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C .frame-66-BGg .frame-64-gUL {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C .frame-66-BGg .frame-64-gUL .frame-39-EEx {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C .frame-66-BGg .frame-64-gUL .frame-39-EEx .joseph-Bvt {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C .frame-66-BGg .frame-64-gUL .frame-39-EEx .akinteye-w9N {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-67-S4C .frame-66-BGg .frame-64-gUL .frame-63-Uuz {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 .frame-42-m8Q {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 .frame-42-m8Q .vector-iJY {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 .frame-42-m8Q .frame-41-G5A {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 .frame-42-m8Q .frame-41-G5A .frame-39-QhA {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 .frame-42-m8Q .frame-41-G5A .frame-39-QhA .joseph-yEU {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 .frame-42-m8Q .frame-41-G5A .frame-39-QhA .babatunde-X16 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-79-YzQ .frame-44-1Q8 .frame-42-m8Q .frame-41-G5A .ellipse-23-UBE {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 {
  margin-bottom: 2.8rem;
  width: 100%;
  row-gap: 1.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .sports-director-candidates-iLU {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.625;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de .frame-42-n5S {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de .frame-42-n5S .vector-5qE {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de .frame-42-n5S .frame-41-2Eg {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de .frame-42-n5S .frame-41-2Eg .frame-39-NJY {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de .frame-42-n5S .frame-41-2Eg .frame-39-NJY .joseph-j96 {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de .frame-42-n5S .frame-41-2Eg .frame-39-NJY .akinteye-g4L {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-44-3de .frame-42-n5S .frame-41-2Eg .ellipse-23-Qm2 {
  width: 3rem;
  height: 3rem;
  border: solid 0.06rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: solid 0.1rem #000000;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG .frame-66-TzC {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG .frame-66-TzC .vector-EEG {
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG .frame-66-TzC .frame-64-yhe {
  margin: 2.15rem 0;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG .frame-66-TzC .frame-64-yhe .frame-39-vMz {
  margin-right: 8.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG .frame-66-TzC .frame-64-yhe .frame-39-vMz .joseph-5Vn {
  margin-bottom: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG .frame-66-TzC .frame-64-yhe .frame-39-vMz .babatunde-RJk {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.7142857143;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-80-mg8 .frame-68-WJG .frame-66-TzC .frame-64-yhe .frame-63-MiC {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sub-main-voting-link-ticked-mMn .auto-group-fufa-Y8t .frame-61-UH2 {
  margin: 0rem 1.5rem 0rem 1.4rem;
  width: calc(100% - 2.9rem);
  height: 4.6rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
