
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.001rem;
}.welcome-pageresend-otp-7zC {
  box-sizing: border-box;
  padding-top: 2.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.welcome-pageresend-otp-7zC .frame-81-TYG {
  margin: 0rem 9rem 2.504rem 3rem;
  width: calc(100% - 12.0006rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .frame-81-TYG .vector-Pgp {
  margin-right: 5.3rem;
  width: 1.8rem;
  height: 1.4189rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .frame-81-TYG .buesa-polls-2024-jVn {
  margin-top: 0.1654rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .frame-81-TYG .buesa-polls-2024-jVn .buesa-polls-2024-jVn-sub-0 {
}
.welcome-pageresend-otp-7zC .frame-81-TYG .buesa-polls-2024-jVn .buesa-polls-2024-jVn-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.welcome-pageresend-otp-7zC .line-1-8Xv {
  width: 100%;
  height: 0.1rem;
  background-color: #838282;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx {
  box-sizing: border-box;
  padding: 5.077rem 4.501rem 32.1rem 5.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .buesa-logo-QVS {
  margin: 0rem 1rem 0.7rem 0rem;
  width: 12.9rem;
  height: 11.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-83-im2 {
  margin: 0rem 4.5rem 2.5rem 3.5rem;
  width: calc(100% - 8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-83-im2 .welcome-qKr {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2222222222;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-83-im2 .to-2024-buesa-elections-yBA {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-83-im2 .to-2024-buesa-elections-yBA .to-2024-buesa-elections-yBA-sub-0 {
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-83-im2 .to-2024-buesa-elections-yBA .to-2024-buesa-elections-yBA-sub-1 {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.4285714286;
  color: #a70000;
  font-family: Montserrat, 'Source Sans Pro';
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-83-im2 .to-2024-buesa-elections-yBA .to-2024-buesa-elections-yBA-sub-2 {
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-86-inx {
  margin-bottom: 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-86-inx .frame-84-gDz {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 0.3rem 12rem 0.3rem 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-86-inx .frame-84-gDz .tabler-numbers-c7e {
  margin-right: 1.3rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-86-inx .frame-84-gDz .matric-number-XkQ {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #838282;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-86-inx .frame-85-qWC {
  box-sizing: border-box;
  padding: 0.3rem 11.9rem 0.3rem 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-86-inx .frame-85-qWC .teenyicons-otp-solid-AoN {
  margin-right: 1.3rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-86-inx .frame-85-qWC .enter-otp-here-6h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #737373;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.welcome-pageresend-otp-7zC .auto-group-6ihs-5xx .frame-88-1Z6 {
  margin: 0rem 6.85rem 1rem 5.75rem;
  width: calc(100% - 12.6rem);
  height: 4rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea0000;
  border-radius: 3.4rem;
  flex-shrink: 0;
}
.resend-text{
  margin-right: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.resend-button{
  border: 0;
  background: transparent;
  color: #ea0000;
  text-decoration: underline;
}
